[submodule "omni4-follower"]
	path = omni4-follower
	url = https://github.com/WCRSyyc/omni4-follower.git
[submodule "circle-lf-sensor-test"]
	path = circle-lf-sensor-test
	url = https://github.com/WCRSyyc/circle-lf-sensor-test.git
[submodule "cr-servo-test"]
	path = cr-servo-test
	url = https://github.com/WCRSyyc/cr-servo-test.git
[submodule "tripod-dir-test"]
	path = tripod-dir-test
	url = https://github.com/WCRSyyc/tripod-dir-test.git
